
html, body,
table, td, th,
div, img,
form, /*input, textarea,*/
pre, code, p,
ul, ol, li				{ border: 0; padding: 0; margin: 0; }

input, select, textarea			{ padding: 0; margin: 0; font-family: Tahoma, Arial, sans-serif; font-size: 12px; line-height: 16px; }

body					{ background: #fff; font-family: Tahoma, Arial, sans-serif; font-size: 12px; line-height: 16px; }

h1					{ color: #6cb000; font-size: 25px; padding: 0 0 15px 0; margin: 0 0 0 0; font-weight: normal; line-height: 29px; }
h2					{ font-size: 21px; padding: 8px 0 12px 0; margin: 0 0 0 0; font-weight: normal; line-height: 25px; }
h3, h4					{ font-size: 18px; padding: 6px 0 10px 0; margin: 0 0 0 0; font-weight: normal; line-height: 22px; }

a					{ color: #2158a7; }
a:hover					{ color: #2158a7; }
table					{ border-collapse: collapse; width: 100% }
td					{ vertical-align: top; padding: 0; }
p					{ padding: 0 0 0 0; margin: 0 0 18px 0; }
ul, ol					{ margin: 10px 0 15px 0;padding: 0 0 0 25px; }
ul li, ol li				{ padding: 0 0 2px 0; }

/* */
.bodyWrap				{ background: url({:root_relative}skin/bg_bodywrap.gif) repeat-x; }
.wrap					{ width: 971px; padding: 0 0 0 24px; background: #fff; }

/* */
.header					{ padding: 24px 0 59px 0; }
.header .logo				{ }

/* */
.footer					{ }

/* */
.container				{ }
.container .lcol			{ width: 260px; }

.lcont					{ padding: 36px 10px 0 0; }
.content				{ width: 685px; overflow: hidden; padding: 0 25px 20px 1px; border-top: 8px solid #075194; }

.cont_top				{ padding: 30px 0 42px 0; }
.cont_top .filter			{ width: 510px; //width: 510px; }
.cont_top2				{ padding: 0 0 42px 0; }

.cl_content				{ padding-top: 30px; }

/* */
.list					{ width: 678px; padding: 0 0/*30px*/ 0 0; }
.list th				{ text-align: left; border-bottom: 3px solid #075194; color: #4e5d77; font-weight: normal; }
.list th div				{ padding: 2px 8px 4px 10px; }
.list td				{ border-bottom: 1px solid #dbdcde; }
.list td div				{ padding: 6px 8px 6px 8px;  }
.list .col_state			{ width: 134px; }
.list .col_reg				{ width: 79px; }
.list .col_del				{ width: 67px; }
.list td.col_del div			{ padding: 8px 8px 6px 24px; //padding: 6px 8px 6px 24px; }
.list .col_edit				{ width: 120px; }
.list .col_edit	div			{ padding: 4px 8px 5px 8px; }
.list .col_name				{ width: 199px; }
.list .col_email			{ width: 199px; }
.list .col_comment			{ width: 146px; }
.list .col_client			{ width: 146px; }
.list .col_dl				{ width: 67px; }
.list .col_restore			{ width: 108px; }
.list .col_view				{ width: 101px; }
.list .col_datetime			{ width: 138px; }

/* */
.login_form				{ width: 450px; }

/* */
.menu_wrap				{ padding: 0 0 40px 0; }
.menu_lcol				{ }
.menu_rcol				{ width: 300px; }
.cl_menu_rcol				{ width: 130px; }

.menu					{ }
.menu .c1				{ width: 20%; }
.menu a, .menu span			{ float: left; position: relative; margin: 0 30px 0 0; padding: 0 0 0 22px; background: url({:root_relative}skin/menu_marker.gif) 0 4px no-repeat; line-height: 22px; font-family: Tahoma, Arial, sans-serif; font-size: 18px; /*font-weight: bold;*/ }
.menu a					{ text-decoration: none; color: #6cb000; }
.menu a:hover				{ color: #2158a7; background: url({:root_relative}skin/menu_marker.gif) 0 4px no-repeat; }

#cl_menu_item7,
#menu_item9				{ padding: 0 25px 4px 6px; color: #fff; background: url({:root_relative}skin/bg_exit.gif) no-repeat; }

.vmenu					{ padding: 0 25px 0 0; }
.vmenu a, .vmenu span			{ display: block; margin: 0 0 14px 0; }
.vmenu a				{ }
.vmenu span				{ font-weight: bold; }
.vmenu .cur				{ color: #000; font-weight: bold; }

.lvl					{ padding: 0 0 0 8px; }
.lvl a, .lvl span			{ padding: 0 0 0 15px; background: url({:root_relative}skin/vmenu_marker_lvl.gif) 0 5px no-repeat; }
.lvl span				{ background-image: url({:root_relative}skin/vmenu_marker_lvl_cur.gif); }
.lvl .cur				{ background-image: url({:root_relative}skin/vmenu_marker_lvl_cur.gif); }

/* */
.client_filter				{ }
.client_filter input			{ margin: 10px 0 0 0; }
.client_filter .col_dates		{ width: 164px; }
.client_filter .col_dates input		{ width: 65px; padding: 1px 2px 1px 2px; }
.client_filter .col_state		{ width: 125px; }
.client_filter .col_state select	{ padding-top: 1px; padding-bottom: 1px; margin-top: 10px; //margin-top: 11px; }
.client_filter .col_kw			{ width: 135px; }
.client_filter .col_kw input		{ width: 120px; padding: 1px 2px 1px 2px; }
.client_filter .col_submit		{ padding: 16px 0 0 0; }
.client_filter .col_submit input	{ padding: 0 0 0 0; //padding: 0 0 0 0; }

.add_client				{ padding: 25px 0 0 0; }
.add_admin				{ padding: 25px 0 20px 0; }
.add_client a,
.add_admin a				{ padding: 0 0 0 22px; background: url({:root_relative}skin/plus_marker.gif) 0 4px no-repeat; line-height: 22px; font-size: 18px; }

.client_list_save			{ padding: 35px 0 30px 35px; }
.client_list_save .col1			{ width: 490px; }
.client_list_save .clinfo		{ color: #4e5d77; }
.client_list_save .col2			{ }
.client_list_save .col2 div		{ padding: 8px 0 0 0; }
.client_list_save .sendquery		{ line-height: 18px; font-size: 16px; font-weight: bold; }

.client_form				{ }
.client_form .sbm input			{ line-height: 18px; font-size: 16px; font-weight: bold; }

.client_end				{ padding: 0 0 0 11px; }

/* */
.zone_find				{ width: 350px; margin: 0 10px 0 0; padding: 1px 2px 2px 2px; }
.zone_edit				{ display: block; width: 95px; padding: 0 0 0 9px; color: #fff; background: url({:root_relative}skin/zone_edit_l.gif) no-repeat; text-decoration: underline; }
.zone_edit .l1, .zone_edit .l2		{ display: block; text-decoration: underline; }
.zone_edit .l1				{ padding: 0 6px 0 0; background: url({:root_relative}skin/zone_edit_r.gif) right top no-repeat; }
.zone_edit .l2				{ padding: 2px 3px 5px 0; background: #6cb000; }

.zone_locked				{ display: block; padding: 0 0 0 9px; color: #fff; background: url({:root_relative}skin/bg_zone_lock_l.gif) no-repeat; }
.zone_locked .l1, .zone_edit .l2	{ display: block; }
.zone_locked .l1			{ padding: 0px 6px 0 0; background: url({:root_relative}skin/bg_zone_lock_r.gif) right top no-repeat; }
.zone_locked .l2			{ padding: 7px 3px 10px 27px; margin: 0 0 15px 0; color: #fafdfd; background: #ffb745 url({:root_relative}skin/bg_zone_lock.gif) left 8px no-repeat; }

.backup_list .zone_edit			{ width: 85px; }
.log_list .zone_edit			{ width: 76px; }

.zone_controls				{ width: 623px; padding: 20px 0; }
.zone_controls .col_back		{ width: 160px; }
.zone_controls .col_back a		{ display: block; margin: 0 2px 0 0; padding: 2px 20px 8px 26px; color: #fff; background: url({:root_relative}skin/bg_ze_back.gif) no-repeat; }
.zone_controls .col_save		{ width: 261px; text-align: center; vertical-align: middle; background: url({:root_relative}skin/bg_ze_save.gif) no-repeat; }
.zone_controls .col_save div		{ /*padding: 12px 0 0 16px;*/ }
.zone_controls .col_save input		{ width: 232px; padding: 0 0 0 0; }
.zone_controls .col_tmp_save		{ width: 202px; text-align: center; vertical-align: middle; }
.zone_controls .col_tmp_save input	{ width: 171px; }

.zone_conf .lbl				{ width: 169px; line-height: 25px; font-size: 21px; }

h2 span					{ font-size: 18px; }
h2 span img				{ position: relative; margin: -2px 0 -11px 0; }
h2 span a				{ padding: 0 4px 0 0; background: url({:root_relative}skin/dashes.gif) left bottom repeat-x; text-decoration: none; }

.rr_list				{ width: 678px; }
.rr_list th				{ text-align: left; border-bottom: 3px solid #075194; color: #4e5d77; font-weight: normal; }
.rr_list th div				{ padding: 2px 4px 4px 6px; }
.rr_list td				{ border-bottom: 1px solid #dbdcde; }
.rr_list td div				{ padding: 6px 4px 6px 4px;  }
.rr_list .col_del			{ width: 55px; }
.rr_list td.col_del			{ text-align: center; vertical-align: middle; background: #fff6f0; }
.rr_list td.col_del div			{ /*padding: 8px 6px 6px 24px; //padding: 6px 6px 6px 19px;*/ }
.rr_list .linef td.col_del		{ background: url({:root_relative}skin/bg_ze_del.gif) no-repeat; }
.rr_list .linel td.col_del		{ background: url({:root_relative}skin/bg_ze_del1.gif) left bottom no-repeat; }
.rr_list .col_name			{ width: 199px; }
.rr_list .col_ord			{ width: 59px; }
.rr_list .col_ord input			{ width: 34px; padding: 1px 2px 2px 2px; }
.rr_list .col_name input		{ width: 140px; padding: 1px 2px 2px 2px; }
.rr_list .col_ttl			{ width: 87px; }
.rr_list .col_ttl input			{ width: 75px; padding: 1px 2px 2px 2px; }
.rr_list .col_type			{ width: 68px; }
.rr_list .col_data			{ width: 253px; }
.rr_list .col_data input		{ width: 140px; padding: 1px 2px 2px 2px; }
.rr_list textarea			{ width: 229px; padding: 1px 2px 2px 2px; }

.list .col_ttl				{ width: 87px; }
.list .col_class			{ width: 68px; }
.list .col_type				{ width: 68px; }

.zone_soa				{ padding: 0 0 10px 0; }
.zone_comment				{ padding: 28px 0 6px 0; }
.zone_comment textarea			{ width: 668px; height: 120px; padding: 1px 2px 2px 2px; }

.cl_zone_list				{ }
.cl_zone_list table			{ width: auto; }
.cl_zone_list table td div		{ padding: 3px 10px 4px 0; }
.cl_zone_list .item1,
.cl_zone_list .item2			{ float: left; }
.cl_zone_list .item1			{ margin: 2px 0 10px 0; }

.zone_soa2				{ padding: 20px 0 10px 0; }
.zone_soa2 .lbl				{ width: 139px; }
.zone_soa2 .lbl div			{ padding: 3px 4px 3px 4px; }
.zone_soa2 .inp				{ }
.zone_soa2 .inp div			{ padding: 4px 2px; }
.zone_comment2				{ padding: 28px 0 6px 0; }

.zone_old				{ padding: 0; }
.zone_old table				{ margin: 0 0 15px 0; }
.zone_old .lbl				{ width: 139px; }
.zone_old .lbl div			{ padding: 3px 4px 3px 4px; }
.zone_old .inp				{ }
.zone_old .inp div			{ padding: 4px 2px; }

.zone_text_link				{ padding: 0 4px 0 0; background: url({:root_relative}skin/dashes.gif) left bottom repeat-x; text-decoration: none; line-height: 22px; font-size: 18px; }
.zone_text				{ height: 600px; }

/* */
.cont_top .flt_backup			{ width: 390px; //width: 375px; }

.backup_filter				{ }
.backup_filter input			{ margin: 10px 0 0 0; }
.backup_filter .col_dates		{ width: 164px; }
.backup_filter .col_dates input		{ width: 65px; padding: 1px 2px 1px 2px; }
.backup_filter .col_module		{ width: 125px; }
.backup_filter .col_module select	{ padding-top: 1px; padding-bottom: 1px; margin-top: 10px; //margin-top: 11px; }
.backup_filter .col_submit		{ padding: 16px 0 0 0; }
.backup_filter .col_submit input	{ padding: 0 0 0 0; //padding: 0 0 0 0; }

/* */
.del					{ display: block; width: 54px; padding: 0 0 0 9px; color: #fff; background: url({:root_relative}skin/bg_del_l.gif) no-repeat; text-decoration: underline; }
.del .l1, .del .l2			{ display: block; text-decoration: underline; }
.del .l1				{ padding: 0 6px 0 0; background: url({:root_relative}skin/bg_del_r.gif) right top no-repeat; }
.del .l2				{ padding: 2px 3px 5px 0; background: #f98234; }

/* */
.log_filter				{ }
.log_filter input			{ margin: 10px 0 0 0; }
.log_filter .col_dates			{ width: 164px; }
.log_filter .col_dates input		{ width: 65px; padding: 1px 2px 1px 2px; }
.log_filter .col_module			{ width: 112px; }
.log_filter .col_module select		{ padding-top: 1px; padding-bottom: 1px; margin-top: 10px; //margin-top: 11px; }
.log_filter .col_user			{ width: 139px; }
.log_filter .col_user input		{ width: 125px; padding: 1px 2px 1px 2px; }
.log_filter .col_ip			{ width: 139px; }
.log_filter .col_ip input		{ width: 120px; padding: 1px 2px 1px 2px; }
.log_filter .col_submit			{ padding: 16px 0 0 0; }
.log_filter .col_submit input		{ padding: 0 0 0 0; //padding: 0 0 0 0; }

.log					{ padding: 30px 0 0 0; }
.log table				{ margin: 0 0 15px 0; }
.log .lbl				{ width: 139px; }
.log .lbl div				{ padding: 3px 4px 3px 4px; }
.log .inp				{ }
.log .inp div				{ padding: 4px 2px; }

/* */
.report_filter				{ }
.report_filter input			{ margin: 10px 0 0 0; }
.report_filter .col_dates		{ width: 80px; }
.report_filter .col_dates input		{ width: 65px; padding: 1px 2px 1px 2px; }
.report_filter .col_submit		{ padding: 16px 0 0 0; }
.report_filter .col_submit input	{ padding: 0 0 0 0; //padding: 0 0 0 0; }

.query_info				{ }
.query_info .col1			{ width: 150px; }
.query_info .col2			{ width: 528px; }
.query_info .list			{ width: 126px; }
.query_info .col_qtime			{ width: 55px; }
.query_info .col_queries		{ width: 71px; }

.report_filter2				{ }
.report_filter2 input			{ margin: 10px 0 0 0; }
.report_filter2 .col_dates		{ width: 80px; }
.report_filter2 .col_dates input	{ width: 65px; padding: 1px 2px 1px 2px; }
.report_filter2 .col_hours		{ width: 148px; }
.report_filter2 .col_hours select	{ padding-top: 1px; padding-bottom: 1px; margin-top: 10px; //margin-top: 11px; }
.report_filter2 .col_submit		{ padding: 16px 0 0 0; }
.report_filter2 .col_submit input	{ padding: 0 0 0 0; //padding: 0 0 0 0; }

.report_sys				{ width: 300px; }
.report_sys .col1			{ width: 120px; }
.report_sys .col2			{ }

.query_domain				{ }
.query_domain .col1			{ width: 428px; }
.query_domain .col1 div			{ width: 412px; overflow: hidden; }
.query_domain .col2			{ width: 250px; }

/* */
.conf					{ width: 448px; padding: 0 0 50px 22px; }
.conf .sendquery			{ line-height: 18px; font-size: 16px; font-weight: bold; }
.conf .info				{ line-height: 12px; font-size: 10px; }

/* */
.lbl					{ width: 139px; }
.lbl div				{ padding: 6px 4px 3px 4px; }
.inp					{ }
.inp div				{ padding: 4px 2px; }
.sel					{ }
.sel div				{ padding: 4px 2px; }
.txt					{ }
.txt div				{ padding: 4px 2px; }
.rad					{ }
.rad div				{ padding: 4px 2px; }
.cbx					{ }
.cbx div				{ padding: 4px 2px; }
.sbm					{ }
.sbm div				{ padding: 40px 0 10px 0; }
.sbm2					{ }
.sbm2 div				{ padding: 5px 0 10px 0; }
.text					{ width: 275px; padding: 1px 2px 2px 2px; }
form textarea				{ width: 500px; height: 97px; padding: 1px 2px 2px 2px; }
.info					{ display: block; color: #4e5d77; padding: 0 0 4px 0; }

/* */
.x9					{ padding: 10px 0 15px 0; }
.x9 .l, .x9 .r,
.x9 .mid .l, .x9 .mid .r,
.x9 .top .c, .x9 .bot .c		{ line-height: 11px; font-size: 11px; }
.x9 .top .l, .x9 .top .r,
.x9 .bot .l, .x9 .bot .r		{ background: url({:root_relative}skin/x9_corners.gif) no-repeat; }
.x9 .l, .x9 .r				{ width: 11px; }
.x9 .top .l, .x9 .top .c,
.x9 .top .r, .x9 .bot .l,
.x9 .bot .c, .x9 .bot .r		{ height: 11px; }
.x9 .top .l				{ background-position: left top; }
.x9 .top .r				{ background-position: -11px top }
.x9 .bot .l				{ background-position: left -11px; }
.x9 .bot .r				{ background-position: -11px -11px; }
.x9 .top .c				{ background: url({:root_relative}skin/x9_ct.gif) repeat-x; }
.x9 .bot .c				{ background: url({:root_relative}skin/x9_cb.gif) repeat-x; }
.x9 .mid .l				{ background: url({:root_relative}skin/x9_lm.gif) repeat-y; }
.x9 .mid .r				{ background: url({:root_relative}skin/x9_rm.gif) repeat-y; }
.x9 .top .c span			{ position: absolute; margin: -6px 0 0 0; padding: 0 4px; background: #fff; color: #6d7279; font-size: 12px; }

/* */
.pager					{ }
.pager a, .pager span			{ display: block; float: left; margin: 0 2px 0 2px; padding: 1px 5px 3px 6px; color: #336699; }
.pager span				{ color: #000; background: #dbdcde; }
.pager .page_prev			{ color: #336699; margin: 1px 7px 0 0; padding: 0 0 0 13px; background: url({:root_relative}skin/larr.gif) left 5px no-repeat; }
.pager .page_next			{ color: #336699; margin: 1px 0 0 7px; padding: 0 12px 0 0; background: url({:root_relative}skin/rarr.gif) right 5px no-repeat; }

/* */
.clear					{ display: block; clear: both; width: 100%; height: 1px; margin: 0; padding: 0; font-size: 1px; line-height: 1px; }

/* calendar styles */
.date_selector,
.date_selector *			{ width: auto; height: auto; border: none; background: none; margin: 0; padding: 0; text-align: left; text-decoration: none }
.date_selector				{ background: #F2F2F2; border: 1px solid #bbb; padding: 5px; margin: -1px 0 0 0; position: absolute; z-index: 100000; display: none }
.date_selector_ieframe			{ position: absolute; z-index: 99999; display: none }
.date_selector .month_nav		{ margin: 0 0 5px 0; padding: 0; display: block }
.date_selector .month_name		{ font-weight: bold; line-height: 20px; display: block; text-align: center }
.date_selector .month_nav a		{ display: block; position: absolute; top: 5px; width: 20px; height: 20px; line-height: 17px; font-weight: bold; color: #003C78; text-align: center; font-size: 120%; overflow: hidden }
.date_selector .month_nav a:hover,
.date_selector .month_nav a:focus	{ background: none; color: #003C78; text-decoration: none }
.date_selector .prev			{ left: 5px }
.date_selector .next			{ right: 5px }
.date_selector table			{ border-spacing: 0; border-collapse: collapse }
.date_selector th,
.date_selector td			{ width: 2.5em; height: 2em; padding: 0; text-align: center }
.date_selector td			{ border: 1px solid #ccc; line-height: 2em; text-align: center; white-space: nowrap; background: white }
.date_selector td.today			{ background: #FFFED9 }
.date_selector td.unselected_month	{ color: #ccc }
.date_selector td a			{ display: block; text-decoration: none !important; width: 100%; height: 100%; line-height: 2em; color: #003C78; text-align: center }
.date_selector td.today a		{ background: #FFFEB3 }
.date_selector td.selected a		{ background: #D8DFE5; font-weight: bold }
.date_selector td a:hover		{ background: #003C78; color: white }

